<!-- footer  -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-dark" href="https://github.com/aman74git" target="_blank"
      ><i class="bi bi-github ps-2 pe-1 fs-4"></i>Github</a
    >
  </div>
  <!-- Copyright -->
</footer>
